@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Caveat';
  src: url('../assets/fonts/Caveat-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'Akshar';
  src: url('../assets/fonts/Akshar-Regular.ttf');
}
@font-face {
  font-family: 'Amita';
  src: url('../assets/fonts/Amita-Bold.ttf');
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Regular.ttf');
}
